[submodule "MToon"]
	path = Assets/VRMShaders/MToon
	url = https://github.com/Santarh/MToon.git
[submodule "Assets/VRMShaders/VRM/MToon"]
	path = Assets/VRMShaders/VRM/MToon
	url = https://github.com/Santarh/MToon.git
